<hr>
<footer>
    <div style="">
        <div style="color: black; display: inline-block;">Srpski:</div> <div style="width:72px;height:16px;border:10px solid red;display: inline-block;position: relative; top: 5px;"></div>
        <div style="color: black; display: inline-block;display: inline-block;position: relative; left: 55px;">Sve ostalo:</div> <div style="width:72px;height:16px;border:10px solid blue; display: inline-block;position: relative; left:55px;top: 5px;"></div>
    </div>
</footer>

